
<div id="alert-message" style="display: none">
    <div class="alert alert-warning alert-dismissible" style="margin: 0 auto; box-shadow: 2px 2px 4px #808080;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong style="white-space:nowrap">
            <i class="fas fa-exclamation-circle fa-lg"></i>
            Warning!
        </strong>
        <span style="white-space: pre-line">
            tagInfo
        </span>        
    </div>
</div>

<div id="alert-message-container" style="position: fixed; width:100%; z-index: 1;  left:0;  padding:10px">

</div>
